<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">



</head>

<body>

<!--Start of Navigation Bar-->
<nav th:insert="fragments/nav :: nav_fragment"></nav>
<!--End of Navigation Bar-->


<!--Start of Header-->
<header class="my-4 py-4 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <i class="fas fa-cog"></i>
                    <span th:text="#{category.header}">Categories</span>
                </h1>
            </div>
        </div>
    </div>
</header>
<!--End of Header-->


<!--Start of Action Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <div id="messageAlert" th:if="${message}" th:class="${alertClass}" role="alert">
                    <span th:text="${message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!--Start of Action Section-->
                <section class="mb-4">
                    <div class="container">
                        <div class="row">
                            <div class="d-grid">
                                <a th:href="@{/category/form}" href="#" class="btn btn-success">
                                    <i class="fas fa-plus"></i>
                                    <span>Add Category</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </section>
                <!--End of Action Section-->

                <!-- Start of Table -->
                <div class="card">
                    <div class="card-header bg-success text-white"><h4>Categories List</h4></div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Date</th>
                                <td></td>
                            </tr>

                            </thead>

                            <tbody id="categoryTable">

                            <tr th:if="${categoryViews == null || categoryViews.isEmpty()}">
                                <td colspan="4">No Record Available</td>
                            </tr>

                            <tr th:unless="${categoryViews == null || categoryViews.isEmpty()}"
                                th:each="categoryView : ${categoryViews}">
                                <td th:text="${categoryView.id}"></td>
                                <td th:text="${categoryView.name}"></td>
                                <td th:text="${categoryView.createDate}"></td>
                                <td>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            th:attr="data-bs-target='#delete-modal-'+${categoryView.id}">
                                        <i class="fas fa-trash-can"></i>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:attr="id='delete-modal-'+${categoryView.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                        th:text="|Do You Really Want to Remove: ${categoryView.name}|"></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>

                                                    <a th:href="@{/category/delete/{id} (id=${categoryView.id})}"
                                                       class="btn btn-danger">
                                                        <span>Delete</span>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="btn btn-warning">
                                        <i class="fas fa-pen-to-square"></i>
                                        <span class="d-none d-md-inline">edit</span>
                                    </a>

                                    <!-- Option 1 for View Details -->
                                    <a th:href="@{/category/view/{id} (id=${categoryView.id})}" href="#"
                                       class="btn btn-primary">
                                        <i class="fas fa-circle-info"></i>
                                        <span class="d-none d-md-inline">Details</span>
                                    </a>

                                    <!-- Option 2 for View Details -->
                                    <form class="d-inline" th:action="@{/category/view}" method="post">
                                        <input type="hidden" th:value="${categoryView.id}" th:attr="name='id'">
                                        <button type="submit" href="#" class="btn btn-primary">
                                            <i class="fas fa-angle-double-right"></i>
                                            <span class="d-none d-md-inline">Details</span>
                                        </button>
                                    </form>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <p class="m-0" th:text="|count: ${categoryViews.size()}|">count: 2</p>
                    </div>
                </div>
                <!-- End of Table -->

            </div>

            <!-- Start of Badge -->
            <div class="col-md-2 d-none d-lg-block">
                <div class="card text-center bg-success text-white mb-2">
                    <div class="card-body">
                        <p class="text-lg-center">Categories</p>
                        <h4 class="display-6">
                            <i class="fas fa-folder"></i>
                            <span th:text="${categoryViews.size()}">2</span>
                        </h4>
                    </div>
                </div>
            </div>
            <!-- End of Badge -->

        </div>
    </div>
</section>
<!--End of Action Section-->


<!--Start of Footer-->
<footer th:insert="fragments/footer :: footer_fragment"></footer>
<!--End of Footer-->

<script>
    const myAlert = document.getElementById('messageAlert');
    myAlert.addEventListener('closed.bs.alert', function () {
        document.getElementById('categoryTable').focus()
    })
</script>

</body>

</html>